body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfbfc;
}

/* ------------- Modal Style --------------- */
.styles_closeButton__20ID4 {
  outline: none !important;
  cursor: pointer !important;
}

.styles_modal__gNwvD {
  max-width: 500px;
  border-radius: 4px;
}

.styles_overlay__CLSq- {
  z-index: 999999 !important;
}

/* ------------- Noty Style --------------- */
.noty_theme__mint.noty_type__warning {
  background-color: #fdd0c9 !important;
  border-bottom: 1px solid #F14B49 !important;
  color: #F14B49 !important;
  border-radius: 10px !important;
  text-align: center;
}

.noty_theme__mint.noty_bar .noty_body {
  font-size: 1.2em !important;
}

.btn-error {
  border: 1px solid #F14B49;
  border-radius: 10px;
  color: #F14B49;
  padding: 5px;
  width: 60px;
  font-weight: 600;
  outline: none !important;
}
