@media only screen and (max-width: 1800px) {
    .ListItem {
        width: 60% !important;
    }
}
@media only screen and (max-width: 1600px) {
    .ListItem {
        width: 50% !important;
    }
}
@media only screen and (max-width: 1275px) {
    .ListItem {
        width: 40% !important;
    }
}
@media only screen and (max-width: 1024px) {
    .ListItem {
        width: 60% !important;
        margin: 20px auto 0px auto !important;
    }
}

@media only screen and (max-width: 475px) {
    .ListItem {
        width: 70% !important;
        margin: 20px 12px 0px auto !important;
    }
}